<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>PULL&ZARA - Administradores </title>

    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link type="image/png" rel="icon" href="../../resources/img/pull&zarablanco.png">
    <link rel="stylesheet" href="../../resources/css/admin_usuarios.css">
    <link rel="stylesheet" href="../../resources/css/principal_admin.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>

    <!-- Navbar -->
    <header>
        <div id="menuContent"></div>
    </header>

    <!-- Contenedor principal -->
    <main class="mt-5 pt-5">

        <!-- Titulos -->
        <div id="textos" class="container-fluid mt-5 text-center">
            <div class="row justify-content-center">
                <h3>Gestión de Administradores</h3>
                <h6>Haz clic en un administrador para editar</h6>
            </div>
        </div>

        <div class="container mb-3 justify-content-center mt-5 ">

            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" placeholder="Buscar" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-search"></i>
                        </button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#AgregarAdmin" onclick="openCreate()">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-info" required onclick="openReport()"> 
                            <i class="fa-regular fa-file-pdf"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- Contenedor de las tablas -->
            <div class="container mb-3 mt-5 justify-content-center">
                <div class="table-responsive">
                    <!-- Columnas -->
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                            <tr>
                                <td colspan="4" id="rowsFound"></td>
                            </tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                            </tr>
                        </thead>
                        <!-- Filas -->
                        <tbody id="tableBody"></tbody>
                    </table>
                </div>
            </div>
            <!-- Modal para agregar un administrador -->
            <div class="modal fade" id="AgregarAdmin" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form id="saveForm">

                            <!-- Header del modal -->
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <!-- Body del modal -->
                            <div class="modal-body">
                                <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                                <input type="number" class="d-none" id="idAdministrador" name="idAdministrador">
                                <div class="form-group">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" class="form-control" id="nombreAdministrador"
                                        placeholder="Nombre del administrador" name="nombreAdministrador"
                                        required oninput="formatAlphabetic(this)">
                                </div>
                                <div class="form-group mt-2">
                                    <label for="apellido">Apellido:</label>
                                    <input type="text" class="form-control" id="apellidoAdministrador"
                                        placeholder="Apellido del administrador" name="apellidoAdministrador"
                                        required oninput="formatAlphabetic(this)">
                                </div>
                                <div class="form-group mt2">
                                    <label for="correo">Correo:</label>
                                    <input type="email" class="form-control" id="correoAdministrador"
                                        placeholder="Correo del administrador" name="correoAdministrador"
                                        required oninput="formatEmail(this)">
                                </div>
                                <div class="form-group mt-2">
                                    <label for="claveAdministrador" class="form-label">Contraseña: </label>
                                    <input id="claveAdministrador" type="password" name="claveAdministrador"
                                        class="form-control" required oninput="formatPassword(this)">
                                </div>
                                <div class="form-group mt-2">
                                    <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
                                    <input id="confirmarClave" type="password" name="confirmarClave"
                                        class="form-control" required oninput="formatPassword(this)">
                                </div>
                            </div>

                            <!-- Botones del modal -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <!-- Footer -->
    <footer id="footerIndex"></footer>

    <!-- Librerias -->
    <!-- Librerías de Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>

    <!-- Js -->
    <script src="../../controllers/utils/cargar_menu.js"></script>
    <script src="../../controllers/utils/admin.js" defer></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/Validaciones.js"></script>
    <script src="../../controllers/admin/administradores.js"></script>
    

</body>

</html>