<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>PULL&ZARA - Usuarios</title>
    
    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Carlos Quintanilla">
    <meta name="author" content="Daniela Alexandra">
    <meta name="author" content="Jhonny">
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link rel="stylesheet" href="../../resources/css/admin_usuarios.css">
    <link type="image/png" rel="icon" href="../../resources/img/pull&zarablanco.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/principal_admin.css">
</head>

<body>

    <!-- Navbar -->
    <header class="mb-5">
        <div id="menuContent"></div>
    </header>

    <!-- Contenedor principal -->
    <main class="py-5">

        <!-- Titulos -->
        <div class="container text-center mb-4 mt-5">
            <h3 class="mb-4">Usuarios Registrados</h3>
        </div>

        <!-- Formulario de búsqueda -->
        <form class="col-sm-12 col-md-6 mx-md-auto mt-5 " id="searchForm">
            <div class="row">
                <div class="col-6">
                    <input type="search" class="form-control" name="search" placeholder="Buscar" required>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-search"></i>
                    </button>
                    <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                        <i class="fas fa-times-circle"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Contenedor de tablas -->
        <div class="container justify-content-center mt-3">
            <div class="table-responsive">

                <!-- Columnas -->
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Usuarios</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Conexión</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>

                    <!-- Filas -->
                    <tbody>
                        <tr>
                            <td>Usuario 1</td>
                            <td>usuario1@example.com</td>
                            <td>Dirección 1</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="switch1"
                                        onchange="toggleSwitchColor(this)">
                                    <label class="form-check-label" for="switch1"></label>
                                </div>
                            </td>
                            <td> 
                                <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                                <button class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i></button>
                            </td>
                        </tr>

                        <!-- Resto de filas -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div id="footerIndex"></div>
    </footer>

    <!-- Librerias -->
    <!-- Js -->
    <script src="../../controllers/utils/admin_usuarios.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/utils/cargar_menu.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"> </script>
</body>

</html>