<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Título del documento -->
    <title>PULL&ZARA - Administracion</title>
    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Carlos Quintanilla">
    <meta name="author" content="Daniela Alexandra">
    <meta name="author" content="Jhonny">
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link rel="stylesheet" href="../../resources/css/admin_usuarios.css">
    <link type="image/png" rel="icon" href="../../resources/img/pull&zarablanco.png">
    <title>Inicio</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/principal_admin.css">
    
</head>

<body>
    <header>
        <div id="menuContent"></div>
    </header>
    <main>
        <div class="container table-container mt-3">
            <h2 class="text-center mb-4">Usuarios Registrados</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Usuarios</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Conexión</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Usuario 1</td>
                        <td>usuario1@example.com</td>
                        <td>Dirección 1</td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="switch1"
                                    onchange="toggleSwitchColor(this)">
                                <label class="form-check-label" for="switch1"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Usuario 2</td>
                        <td>usuario2@example.com</td>
                        <td>Dirección 2</td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="switch2"
                                    onchange="toggleSwitchColor(this)">
                                <label class="form-check-label" for="switch2"></label>
                            </div>
                        </td>
                    </tr>
                    <!-- Agrega más filas según sea necesario -->
                </tbody>
            </table>
        </div>
    </main>


    <div class="footerF">
        <footer class="bg-dark fixed-bottom">

            <div id="footerIndex"></div>

        </footer>
    </div>


<script src="../../controllers/utils/admin_usuarios.js"></script>
<script src="../../controllers/utils/admin.js"></script>
<script src="../../controllers/utils/cargar_menu.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>