<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Título del documento -->
    <title>PULL&ZARA - SubCategorias</title>
    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Carlos Quintanilla">
    <meta name="author" content="Daniela Alexandra">
    <meta name="author" content="Jhonny">
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link type="image/png" rel="icon" href="../../resources/img/pull&zarablanco.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/principal_admin.css">

</head>

<body>
    <header>

        <div id="menuContent"></div>
    </header>


    <!-- Contenido principal -->
    <main class="pt-5">
        <div id="textos" class="container-fluid py-5 text-center">
            <div class="row justify-content-center py-5">
                <h3>Administra Sub-Categorias</h3>
            </div>
        </div>
        <div class="container mb-3 justify-content-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="../../resources/img/agregar.png" alt="">
                Agregar Sub-Categoría
            </button>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar Sub-Categoría</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="nombre">Sub-Categoría:</label>
                                    <input type="text" class="form-control" id="nombre"
                                        placeholder="Ingrese la Sub-Categoría">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                            <button type="button" class="btn btn-primary">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla de subcategorías -->
        <div class="container-fluid mt-3">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre Sub-Categoría</th>
                            <th>Agregar Sub-Categorías</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Categoría 1</td>
                            <td><button class="btn btn-primary btn-sm"><a href="../admin/admin_subcategoria.html"><img
                                            src="../../resources/img/agregar.png" alt="Icono de agregar"></a></button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm"><a href=""><img
                                            src="../../resources/img/papelera-xmark.png"
                                            alt="Icono de eliminar"></a></button>
                                <button class="btn btn-primary btn-sm"><a href=""><img
                                            src="../../resources/img/lapiz.png" alt="Icono de editar"></a></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Categoría 2</td>
                            <td><button class="btn btn-primary btn-sm"><a href="../admin/admin_subcategoria.html"><img
                                            src="../../resources/img/agregar.png" alt="Icono de agregar"></a></button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm"><a href=""><img
                                            src="../../resources/img/papelera-xmark.png"
                                            alt="Icono de eliminar"></a></button>
                                <button class="btn btn-primary btn-sm"><a href=""><img
                                            src="../../resources/img/lapiz.png" alt="Icono de editar"></a></button>
                            </td>
                        </tr>
                        <!-- Agrega más filas según sea necesario -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="my-5">
        <div id="footerIndex"></div>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../controllers/utils/admin.js" defer></script>
    <script src="../../controllers/utils/cargar_menu.js"></script>
</body>

</html>