<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>PULL&ZARA - Categorias</title>

    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Carlos Quintanilla">
    <meta name="author" content="Daniela Alexandra">
    <meta name="author" content="Jhonny">
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link type="image/png" rel="icon" href="../../resources/img/pull&zarablanco.png">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/principal_admin.css">

</head>

<body>

    <!-- Navbar -->
    <header>
        <div id="menuContent"></div>
    </header>

    <!-- Contenedor principal -->
    <main class="pt-5">

        <!-- Titulos -->
        <div id="textos" class="container-fluid py-5 text-center">
            <div class="row justify-content-center py-5">
                <h3 id="mainTitle"> Administrar Categorías </h3>
            </div>
        </div>

        <div class="container justify-content-center">

            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" placeholder="Buscar" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="fas fa-times-circle"></i>
                        </button>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#AgregarCategoria" onclick="openCreate()">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
            </form>



            <!--Separacion de Modal y tabla -->
            <div class="container mb-3 justify-content-center">
                <!-- Tabla de Categorías -->
                <div class="container-fluid mt-3">
                    <div class="table-responsive">

                        <!-- Tabla para mostrar los registros existentes -->
                        <table class="table table-hover">

                            <!-- Encabezado de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                            <thead>
                                <tr>
                                    <td colspan="4" id="rowsFound"></td>
                                </tr>
                                <tr>
                                    <th>IMAGEN</th>
                                    <th>NOMBRE</th>
                                    <th>SUB-CATEGORIAS</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>

                            <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                            <tbody id="tableBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Componente Modal para guardar un registro -->
            <div class="modal fade" id="AgregarCategoria" data-bs-keyboard="false" tabindex="-1" role="dialog"
                aria-labelledby="exampleModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!--formulario para guardar una categoria-->
                        <form id="saveForm">
                            <!-- Header del modal -->
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModal1Label"></h1>

                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>

                            <!-- Body del modal -->
                            <div class="modal-body row g-3">
                                <input type="number" class="d-none" id="idCategoria" name="idCategoria">
                                <div class="col-sm-12 col-md-6">
                                    <label for="nombreCategoria" class="form-label">Nombre</label>
                                    <input id="nombreCategoria" type="text" name="nombreCategoria" class="form-control"
                                        required oninput="formatAlphabetic(this)">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="imagenCategoria" class="form-label">Imagen</label>
                                    <input id="imagenCategoria" type="file" name="imagenCategoria" class="form-control"
                                        accept=".png, .jpg" required>
                                </div>
                            </div>

                            <!-- Botones del modal -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Componente Modal para agregar subcategorías -->
            <div class="modal fade" id="AgregarSubCategoria" data-bs-keyboard="false" tabindex="-1" role="dialog"
                aria-labelledby="exampleModal2Label" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- Header del modal -->
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModal2Label">Gestiona Subcategoría</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <!-- Body del modal -->
                        <div class="modal-body">
                            <!-- Tabla para mostrar las subcategorías -->
                            <!-- Tabla para mostrar los registros existentes -->
                            <table class="table table-hover">

                                <!-- Encabezado de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                                <thead>
                                    <tr>
                                        <td colspan="3" id="rowsFound_sub"></td>
                                    </tr>
                                    <tr>
                                        <th>IMAGEN</th>
                                        <th>NOMBRE SUBCATEGORIA</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>

                                <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                                <tbody id="subcategoriaTableBody"></tbody>
                            </table>
                        </div>

                        <!-- Footer del modal -->
                        <div class="modal-footer">
                            <!-- Botón para agregar nueva subcategoría -->
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#AgregarSubCategoriaFORM" onclick="openCreateSub()">Agregar
                                Subcategoría</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Componente Modal para agregar subcategorías -->
            <div class="modal fade" id="AgregarSubCategoriaFORM" data-bs-keyboard="false" tabindex="-1" role="dialog"
                aria-labelledby="miModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">

                        <!-- Formulario saveForm -->
                        <form id="saveFormSub">
                            <input type="number" class="d-none" id="idCategoria" name="idCategoria">
                            <input type="number" class="d-none" id="idSubcategoria" name="idSubcategoria">
                            <!-- Body del modal -->
                            <div class="modal-body">
                                <div class="tab-content">

                                    <!-- Formulario de validacion -->
                                    <form class="needs-validation">
                                        <div class="container mb-3 mt-3">
                                            <button type="button" class="btn-close btn-danger" aria-label="Close"
                                                data-bs-dismiss="modal"></button>
                                            <h4 id="SubcategoriaTitle" class="modal-title text-center fw-light mb-3">
                                                AGREGAR
                                                SUBCATEGORIA
                                            </h4>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-12 col-sm-12">
                                                    <div class="col-12 mb-3">
                                                        <label for="nombreSubcategoria" class="form-label">Nombre
                                                            Subcategoria</label>
                                                        <input id="nombreSubcategoria" type="text"
                                                            name="nombreSubcategoria" class="form-control" required
                                                            onblur="formatAlphabetic(this)">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12 col-sm-12">
                                                    <div class="col-12 mb-3">
                                                        <div class="form-group">
                                                            <label for="imagenSubcategoria"
                                                                class="form-label">Imagen</label>
                                                            <input id="imagenSubcategoria" type="file"
                                                                name="imagenSubcategoria" class="form-control"
                                                                accept=".png, .jpg" required oninput="formatImg(this)">
                                                            <div id="mensaje-error-previa" class="invalid-feedback">
                                                                Error al cambiar imagen.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 mb-3">
                                                        <label for="imagenSubcategoria" class="form-label">Vista
                                                            previa</label>
                                                        <div id="vista-previa"
                                                            class="border border-black p-2 text-center ContenedorImg">
                                                            <img src="../../resources/img/Imagen vacia.png" alt=""
                                                                height="200px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Botones del modal -->
                                        <div class="d-flex flex-row-reverse">
                                            <button type="submit" class="btn btn-success ps-4 pe-4 ms-2 me-3"> Completar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


    </main>



    <!-- Footer -->
    <footer class="my-5">
        <div id="footerIndex"></div>
    </footer>



    <!-- Boostrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>

    <!-- Librerias -->
    <!-- Js -->
    <script src="../../controllers/utils/admin.js" defer></script>
    <script src="../../controllers/utils/cargar_menu.js"></script>
    <script src="../../controllers/utils/Validaciones.js"></script>
    <script src="../../controllers/admin/categorias.js"></script>\
    <script src="../../controllers/utils/components.js"></script>
</body>

</html>