<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>PULL&ZARA - Productos</title>

    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link type="image/png" rel="icon" href="../../resources/img/pull&zarablanco.png">
    <link rel="stylesheet" href="../../resources/css/productos.css">
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link rel="stylesheet" href="../../resources/css/principal_admin.css">
</head>

<body>

    <!-- Navbar -->
    <header class="mb-5">
        <div id="menuContent"></div>
    </header>

    <!-- Contenedor principal -->
    <main class="py-5">

        <!-- Titulos -->
        <div class="container-fluid text-center mb-4 mt-5">
            <h3 class="text-center mb-4">Administrar Productos</h3>
        </div>
        <div class="container mb-3 justify-content-center">

            <!-- Formulario de búsqueda -->
            <form class="col-sm-12 col-md-6" id="searchForm">
                <div class="row">
                    <div class="col-6">
                        <input type="search" class="form-control" name="search" placeholder="Buscar" required>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-search"></i>
                        </button>
                        <button type="reset" class="btn btn-secondary" onclick="fillTable()">
                            <i class="fas fa-times-circle"></i>
                        </button>
                        <button type="reset" class="btn btn-warning" onclick="fillTable()" data-bs-toggle="modal"
                            data-bs-target="#saveModal">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Contenedor de tablas -->
        <div class="container mb-3 justify-content-center">
            <div class="table-responsive">

                <!-- Tabla para mostrar los registros existentes -->
                <table class="table table-hover">

                    <!-- Cabeza de la tabla para mostrar la cantidad de registros y los títulos de las columnas -->
                    <thead>
                        <tr>
                            <td colspan="6" id="rowsFound"></td>
                        </tr>
                        <tr>
                            <th>IMAGEN</th>
                            <th>NOMBRE</th>
                            <th>PRECIO (US$)</th>
                            <th>CATEGORÍA</th>
                            <th>ESTADO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>

                    <!-- Cuerpo de la tabla para mostrar un registro por fila -->
                    <tbody id="tableBody"></tbody>
                </table>
            </div>
        </div>

        <!-- Componente Modal para guardar un registro -->
        <div class="modal fade" id="saveModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="miModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">

                    <!-- Body del modal -->
                    <div class="modal-body">
                        <div class="tab-content">

                            <!-- Navegacion de formularios -->
                            <div class="container mb-5 mt-3">
                                <button type="button" class="btn-close btn-danger" aria-label="Close" data-bs-dismiss="modal"></button>
                                <h4 class="modal-title text-center mb-2 fw-light"> AGREGAR PRODUCTO </h4>
                                <ul class="nav nav-pills justify-content-center">
                                    <li class="nav-item me-4">
                                        <a class="nav-link active link-gris" id="formulario1-tab" data-bs-toggle="pill"
                                            href="#formulario1" role="tab" aria-controls="formulario1"
                                            aria-selected="true">Datos del producto
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled link-gris" id="formulario2-tab" data-bs-toggle="pill"
                                            href="#formulario2" role="tab" aria-controls="formulario2"
                                            aria-selected="false">Detalles del producto
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <!-- Formulario 1 -->
                            <div class="tab-pane fade show active" id="formulario1" role="tabpanel"
                                aria-labelledby="formulario1-tab">
                                <form class="needs-validation">
                                    <div class="row ps-5 pe-5 pb-5">
                                        <div class="col-12 mb-3">
                                            <label for="nombreProducto" class="form-label">Nombre</label>
                                            <input id="nombreProducto" type="text" name="nombreProducto"
                                                class="form-control" required oninput="formatAlphabetic(this)">
                                        </div>
                                        <div class="col-4">
                                            <label for="categoriaProducto" class="form-label">Categoría</label>
                                            <select id="categoriaProducto" name="categoriaProducto" class="form-select"
                                                required></select>
                                        </div>
                                        <div class="col-4 ">
                                            <label for="subcategoriaProducto" class="form-label">Subcategoría</label>
                                            <select id="subcategoriaProducto" name="subcategoriaProducto"
                                                class="form-select" required></select>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <label for="imagenProducto" class="form-label">Imagen</label>
                                            <input id="imagenProducto" type="file" name="imagenProducto"
                                                class="form-control" accept=".png, .jpg" required>
                                        </div>
                                        <div class="col-4">
                                            <label for="tallasProducto" class="form-label">Tallas</label>
                                            <input id="tallasProducto" type="number" name="tallasProducto" min="1"
                                                step="1" class="form-control" required>
                                        </div>
                                        <div class="col-4 mb-3">
                                            <label for="precioProducto" class="form-label">Precio</label>
                                            <input id="precioProducto" type="number" name="precioProducto" min="0.01"
                                                step="0.1" class="form-control" required oninput="formatDolar(this)">
                                        </div>
                                        <div class="col-8">
                                            <label for="descripcionProducto" class="form-label">Descripción</label>
                                            <textarea id="descripcionProducto" type="text" name="descripcionProducto"
                                                class="form-control descripcion" required oninput="formatAlphabetic(this)">
                                            </textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- Formulario 2 -->
                            <div class="tab-pane fade" id="formulario2" role="tabpanel"
                                aria-labelledby="formulario2-tab">
                                <form>

                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Botón de cierre del modal -->
                    <div class="modal-footer">
                        <button id="retrocederPestana" type="button" class="btn btn-danger ps-4 pe-4">Anterior</button>
                        <button id="cambiarPestana" type="button" class="btn btn-success ps-4 pe-4">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <div class="bg-dark mt-3">
        <footer class="bg-dark">
            <div id="footerIndex"></div>
        </footer>
    </div>

    <!-- Librerias -->
    <!-- Js -->
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/admin_usuarios.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/utils/cargar_menu.js"></script>
    <script src="../../controllers/admin/productos.js"></script>
    <script src="../../controllers/utils/Validaciones.js"></script>
    <script src="../../controllers/utils/formulario_doble.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"> </script>
</body>

</html>