<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Título del documento -->
    <title>PULL&ZARA - Reseñas</title>
    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Carlos Quintanilla">
    <meta name="author" content="Daniela Alexandra">
    <meta name="author" content="Jhonny">
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link rel="stylesheet" href="../../resources/css/admin_usuarios.css">
    <link type="image/png" rel="icon" href="../../resources/img/pull&zarablanco.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/principal_admin.css">
    <script src="../../controllers/utils/admin.js" defer></script>

</head>

<body>
    <header>
        <div id="menuContent"></div>
    </header>

    <main class="py-5">

        <div id="textos" class="container-fluid py-5 text-center">
            <div class="row justify-content-center py-5">
                <h3>Administra Reseñas</h3>
            </div>
            <div class="container table-container mt-3">

                <div class="container table-container mb-2">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Usuarios</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Comentario</th>
                                    <th scope="col">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Usuario 1</td>
                                    <td>usuario1@example.com</td>
                                    <td>No me gusto</td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="switchInicial" checked
                                                onchange="toggleSwitchColorStatus(this)">
                                            <label class="form-check-label" for="switchInicial"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Usuario 2</td>
                                    <td>usuario2@example.com</td>
                                    <td>La entrega se paso de la fecha</td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="switchInicial" checked
                                                onchange="toggleSwitchColorStatus(this)">
                                            <label class="form-check-label" for="switchInicial"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Karla Quintanilla</td>
                                    <td>karla@example.com</td>
                                    <td>El producto cumplió con todas mis expectativas. Muy satisfecha con mi compra.
                                    </td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="switchInicial" checked
                                                onchange="toggleSwitchColorStatus(this)">
                                            <label class="form-check-label" for="switchInicial"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </main>
    <footer id="footerIndex" class="pt-3">


    </footer>
</body>


<script src="../../controllers/utils/cargar_menu.js"></script>
<script src="../../controllers/utils/administrar_valoraciones.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</html>