<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Título del documento -->
    <title>PULL&ZARA - Perfil</title>

    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link type="image/png" rel="icon" href="../../resources/img/pull&zarablanco.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/principal_admin.css">

</head>

<body>

    <!-- Navbar -->
    <header>
        <div id="menuContent"></div>
    </header>
    
    <!-- Contenedor principal -->
    <main class="py-5">

        <!-- Perfil -->
        <div class="container d-flex justify-content-center align-items-center text-auto mb-5">
            <div class="text-left">
                <img class="text-center py-5 mt-2" style="z-index: 999;" src="../../resources/img/Perfil.png">
                <div>
                    <p class="fs-5 justify-content-center">Nombre administrador:</p>
                    <p class="fs-5 justify-content-center">Correo administrador:</p>
                    <div class="row">
                        <p class="fs-5 ">Telefono: ####-####</p>
                    </div>
                </div>
                <div class="container">
                    <div class="d-flex flex-column">
                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                            data-bs-target="#exampleModal1"><img src="../../resources/img/lapiz.png">
                        </button>
                        <button type="button" class="btn btn-outline-primary mt-3" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Cambiar contraseña</button>
                        <button type="button" class="btn btn-outline-danger mt-3" id="cerrar-sesion">
                            Cerrar Sesión
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal cambiar contraseña -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Header del modal -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar contraseña</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Body del modal -->
                    <div class="modal-body">
                        <div class="d-flex flex-column text-center">
                            <div class="col">
                                <p class="fs-5">Nueva contraseña</p>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col mt-3">
                                <p class="fs-5">Confirmar nueva contraseña</p>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <!-- Botones del modal -->
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal telefono-->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Header del modal -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Cambiar numero de telefono</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Body del modal -->
                    <div class="modal-body">
                        <div class="d-flex flex-column text-center">
                            <div class="col">
                                <p class="fs-5">Ingrese su nuevo numero de telefono</p>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <!-- Botones del modal -->
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div id="footerIndex"></div>
    </footer>

    <!-- Librerias -->
    <!-- Js -->
    <script src="../../controllers/utils/admin.js" defer></script>
    <script src="../../controllers/utils/cargar_menu.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"> </script>
</body>

</html>