* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-margen {
    margin: 95px;
}

/* Clases de colores de borde personalizadas */
.btn-border-red {
    border-color: red;
}
.btn-border-green {
    border-color: green;
}
.btn-border-blue {
    border-color: blue;
}
.btn-border-yellow {
    border-color: pink;
}
.btn-border-orange {
    border-color: orange;
}
.btn-border-purple {
    border-color: purple;
}

.textT {
    padding-top: 2%;
}
.iconHome {
    padding-right: 10px;
}

body{
    margin: 0;
    position: relative;
    padding-bottom: 0;
    min-height: 120vh;
}
main {
    margin-bottom: 0%; /* Ajusta este valor según sea necesario para evitar que el footer se superponga al contenido */
}
footer {
    position: absolute;
    width: 100%;
    height: auto; 
    left: 0;
    right: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* Estilo personalizado para los botones */
.submit {
    margin-right: 10px; /* Agrega un margen derecho para separar los botones */
    background-color: #D9F6A9; /* Color de fondo para el primer botón */
    border-color: #D9F6A9; /* Color del borde para el primer botón */
}

/* Estilo para el segundo botón */
.submit:last-child {
    background-color: #F57F7F; /* Color de fondo para el segundo botón */
    border-color: #F57F7F; /* Color del borde para el segundo botón */
}

.footer-content {
    color: #232020;
}

.logo {
    max-width: 200px;
}

.social-icons img {
    width: 20px;
    margin-left: 7px;
}

.navbar {
    transition: box-shadow 0.1s ease-in-out;
}

.shadow-on-scroll.navbar-scrolled {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.088), 4px 4px 4px rgba(0, 0, 0, 0.082);
}
