body {
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: white; /* O el color que prefieras para tu navbar */
}

.navbar img {
    max-height: 250px;
    width: auto;
    margin: 0 auto; /* Centra la imagen horizontalmente */
    display: block;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    border-radius: 20px;
}

.form-floating label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    border-radius: 7px;
}
