<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS Index -->
    <link rel="stylesheet" href="../../resources/css/index.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/principal_admin.css">
    <link rel="stylesheet" href="../../resources/css/buscador.css">

    <!-- Logo -->
    <link type="image/png" rel="icon" href="../../resources/img/pull&zarablanco.png">

    <title> Registro </title>
</head>

<body>

    <header>
        <div id="menuIndexPublic"></div>
    </header>

    <div class="container mt-3 pt-5">
        <div class="row">
            <div class="col-md-6 mt-5 pt-5">
                <img src="../../resources/img/registro.png" alt="Imagen Grande" class="img-fluid">
            </div>

            <div class="col-md-6 mt-5">
                <div class="container">
                    <form id="saveForm">
                        <input type="number" class="d-none" id="idCliente" name="idCliente">
                        <form class="needs-validation" novalidate>
                            <div class="row">
                                <p class="fs-3 text-center fw-bold mt-5 pt-5"> ¡Registrate! </p>
                                <div class="col-md-6 mt-3">
                                    <!--Input nombre -->
                                    <div class="form-group">
                                        <label for="nombre">Nombre(s):</label>
                                        <input type="text" minlength="2" class="form-control" id="nombreCliente"
                                            name="nombreCliente" required oninput="formatAlphabetic(this)">
                                    </div>

                                    <!--Input apellido -->
                                    <div class="form-group mt-3">
                                        <label for="apellido">Apellido(s):</label>
                                        <input type="text" minlength="2" class="form-control" id="apellidoCliente"
                                            name="apellidoCliente" required oninput="formatAlphabetic(this)">
                                    </div>

                                    <!--Input dui -->
                                    <div class="form-group mt-3">
                                        <label for="dui">Dui:</label>
                                        <input type="text" class="form-control" id="duiCliente" name="duiCliente"
                                            required onkeypress="formatDui(this)" placeholder="########-#">
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <!--Input direccion -->
                                    <div class="form-group">
                                        <label for="direccion">Dirección:</label>
                                        <input type="text" class="form-control" id="direccionCliente" name="direccionCliente"
                                            required oninput="formatAlphabetic(this)">
                                    </div>

                                    <!--Input correo -->
                                    <div class="form-group mt-3">
                                        <label for="correo">Correo Electrónico:</label>
                                        <input type="text" class="form-control" id="correoCliente" name="correoCliente"
                                            required oninput="formatEmail(this)" placeholder="ejemplo@gmail.com">
                                    </div>

                                    <!--Input contraseña -->
                                    <div class="form-group mt-3">
                                        <label for="contrasena">Contraseña:</label>
                                        <input type="password" class="form-control" id="contraseñaCliente"
                                            name="contraseñaCliente" required oninput="formatPassword(this)"
                                            placeholder="8 caracteres minimo">
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col">
                                    <div class="d-flex justify-content-center mt-4">
                                        <button id="btnRegistrarme" type="submit"
                                            class="btn btn-outline-dark mx-2 mb-5">
                                            Registrarme
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="footerF">
        <footer class="bg-dark">
            <div id="footerIndex"></div>
        </footer>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"> </script>

    <!-- script de validaciones del registro -->
    <script src="../../controllers/utils/Validaciones.js"></script>

    <!-- Js de navbar y footer -->
    <script src="../../controllers/utils/public.js" defer></script>
    <script src="../../controllers/utils/admin.js" defer></script>
    <script src="../../controllers/public/Cliente.js"></script>

    <!-- script de datos navbar y footer -->
    <script src="../../controllers/utils/cargar_menu.js"></script>

</body>

</html>