<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS Index -->
    <link rel="stylesheet" href="../../resources/css/index.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../resources/css/principal_admin.css">
    <link rel="stylesheet" href="../../resources/css/buscador.css">

    <!-- Logo -->
    <link type="image/png" rel="icon" href="../../resources/img/pull&zarablanco.png">

    <title> Registro </title>
</head>

<body>

    <!-- Header -->
    <header>
        <div id="menuIndexPublic"></div>
    </header>

    <!-- Contenedor registro -->
    <div class="container mt-3 pt-5" id="ContainerRegistro">
        <div class="row">

            <!-- Contenedor de imagen -->
            <div class="col-md-6 mt-5 pt-5">
                <img src="../../resources/img/registro.png" alt="Imagen Grande" class="img-fluid">
            </div>

            <!-- Contenedor del formulario -->
            <div class="col-md-6 mt-5">
                <div class="container">

                    <!-- Formulario saveForm -->
                    <form id="signupForm">
                        <input type="number" class="d-none" id="idCliente" name="idCliente">
                        <form class="needs-validation" novalidate>
                            <div class="row">
                                <p class="fs-3 text-center fw-bold mt-5"> ¡Registrate! </p>

                                <!-- Primera columna del Form -->
                                <div class="col-md-6 mt-3">

                                    <!--Input nombre -->
                                    <div class="form-group">
                                        <label for="nombre">Nombre(s):</label>
                                        <input type="text" minlength="2" class="form-control" id="nombreCliente"
                                            name="nombreCliente" required oninput="formatAlphabetic(this)">
                                    </div>

                                    <!--Input apellido -->
                                    <div class="form-group mt-3">
                                        <label for="apellido">Apellido(s):</label>
                                        <input type="text" minlength="2" class="form-control" id="apellidoCliente"
                                            name="apellidoCliente" required oninput="formatAlphabetic(this)">
                                    </div>

                                    <!--Input dui -->
                                    <div class="form-group mt-3">
                                        <label for="dui">Dui:</label>
                                        <input type="text" class="form-control" id="duiCliente" name="duiCliente"
                                            required oninput="formatDui(this)" placeholder="########-#">
                                    </div>

                                    <!--Input correo -->
                                    <div class="form-group mt-3">
                                        <label for="correo">Correo Electrónico:</label>
                                        <input type="text" class="form-control" id="correoCliente" name="correoCliente"
                                            required oninput="formatEmail(this)" placeholder="ejemplo@gmail.com">
                                    </div>

                                    <!--input genero cliente-->
                                    <div class="form-group mt-3">
                                        <label for="direccion">Genero: </label>
                                        <select class="form-select" id="generoCliente" name="generoCliente">
                                            <option value="Femenino">Femenino</option>
                                            <option value="Masculino">Masculino</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Primera columna del Form -->
                                <div class="col-md-6">

                                    <!--Input telefono -->
                                    <div class="form-group mt-3">
                                        <label for="direccion">Telefono:</label>
                                        <input type="text" class="form-control" id="telefonoCliente"
                                            name="telefonoCliente" required oninput="formatPhoneNumber(this)"
                                            placeholder="0000-0000">
                                    </div>

                                    <!--Input contraseña -->
                                    <div class="form-group mt-3">
                                        <label for="contrasena">Contraseña:</label>
                                        <input type="password" class="form-control" id="contraseñaCliente"
                                            name="contraseñaCliente" required oninput="formatPassword(this)"
                                            placeholder="8 caracteres minimo">
                                    </div>

                                    <!--Input confirmar contraseña -->
                                    <div class="form-group mt-3">
                                        <label for="contrasena">Confirmar contraseña:</label>
                                        <input type="password" class="form-control" id="confirmarcontraseñaCliente"
                                            name="confirmarcontraseñaCliente" required oninput="formatPassword(this)"
                                            placeholder="8 caracteres minimo">
                                    </div>

                                    <!--input direccion cliente-->
                                    <div class="form-group mt-3">
                                        <label for="direccion">Dirección: </label>
                                        <input type="text" minlength="2" class="form-control" id="direccionCliente"
                                            name="direccionCliente" required oninput="formatAlphabetic(this)"
                                            placeholder="Calle, Barrio, Ciudad">
                                    </div>

                                    <!--input genero cliente-->
                                    <div class="form-group text-center mt-4 pt-3">
                                        <button id="btnRegistrarme" type="submit"
                                            class="btn btn-outline-dark pe-5 ps-5 mb-5">
                                            <i class="bi bi-person-fill-add"></i>
                                            Registrarme
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenedor login -->
    <div class="container mt-3 pt-5" id="ContainerLogin">
        <div class="row">

            <!-- Contenedor de la imagen -->
            <div class="col-md-6 pt-5">
                <img src="../../resources/img/admin_login.png" alt="Imagen Grande" class="img-fluid" width="700px">
            </div>

            <!-- Contenedor del Form -->
            <div class="col-md-4 pt-5 mt-5">
                <div class="row mt-5">
                    <form id="loginForm" class="needs-validation">
                        <div class="pt-5 mt-5">

                            <!-- formulario con labels flotantes -->
                            <div class="form-floating mt-5">
                                <input type="email" class="form-control border-warning rounded-pill"
                                    id="correoClienteLogin" name="correoClienteLogin" required
                                    oninput="formatEmail(this)">
                                <label for="floatingInput"> Correo </label>
                            </div>
                            <div class="form-floating mt-3">
                                <input type="password" class="form-control border-warning rounded-pill"
                                    id="contraseñaClienteLogin" name="contraseñaClienteLogin" required
                                    oninput="formatPassword(this)">
                                <label for="floatingPassword"> Contraseña </label>
                                <a class="icon-link text-end" href="#" id="LinkRegistro">
                                    <h6 class="mt-2"><em>No tengo una cuenta</em> </h6>
                                </a>
                            </div>
                            <div class="text-center mt-2">
                                <button type="submit" class="btn btn-outline-dark rounded-pill pe-4 ps-4">
                                    <i class="bi bi-door-open-fill"></i> Ingresar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footerF">
        <footer class="bg-dark">
            <div id="footerIndex"></div>
        </footer>
    </div>

    <!-- Librerias -->
    <!-- Bootstrap -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"> </script>

    <!--Js -->
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/utils/Validaciones.js"></script>
    <script src="../../controllers/utils/public.js" defer></script>
    <script src="../../controllers/utils/admin.js" defer></script>
    <script src="../../controllers/public/Cliente.js"></script>
    <script src="../../controllers/utils/cargar_menu.js"></script>

</body>

</html>